@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
  }
  
  @keyframes gradient-wrapper {
    from {
        background-position: 100% 50%;
    }
  
    50% {
        background-position: 0% 50%;
    }
  
    to {
        background-position: 100% 50%;
    }
  }
  
  .wrapper {
      position: relative;
    background: linear-gradient(-45deg, #f53844, #42378f);
    background-size: 200% 200%;
    animation: gradient-wrapper 10s ease infinite;
    border-radius: 25px;
    box-shadow: 0 40px 80px -10px rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  
  input {
    display: none;
  }
  

  
  body {
    color: #ffffff;
    margin: 0rem;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    position: relative;
    background: linear-gradient(-45deg, #f53844, #42378f);
    background-size: 200% 200%;
    animation: gradient-bg 10s ease infinite;
  }
  
  a,
  button {
    text-decoration: none;
    transform: none;
    display: block;
    color: #ffffff;
  }
  
  button{
    background: none;
    border: none;
  }
  
  dropdown {
    display: inline-block;
  }
  
  dropdown ul li {
    padding: 5px 0;
    display: block;
    z-index: 2;
  }
  
  dropdown label {
    display: block;
    z-index: 2;
  }
  
  dropdown label:hover,
  dropdown ul li:hover {
    color: #ffffff;
    cursor: pointer;
  }
  
  dropdown label {
    color: #ffffff;
    position: relative;
    z-index: 2;
  }
  
  dropdown input {
    display: none;
  }
  
  dropdown input~ul {
    padding-left: 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  
  dropdown input:checked~ul {
    transition: 700ms;
    visibility: visible;
    opacity: 1;
    top: 0;
  }
  
  #particles-js {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
  }
  
  #canvas {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .header {
    margin-top: 30px;
  }
  
  .header__logo {
    z-index: 2;
  }
  
  .header__logo__name {
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  .header__logo__name h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  
  }
  
  .header__logo__name h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  
  .header__r-content {
    padding-left: 5vw;
  }
  
  .header__r-content h5 {
    height: 20px;
    padding-right: 1vw;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border-right: solid 2px #fff;
  }
  
  .header__r-content .lang {
    padding-left: 1vw;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }


  

  footer {
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .footer-items {
    z-index: 2;
  }

  .main{
    margin: 50px 11vw;
    padding:40px 10vw ;
}

  .main__item{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .main__item__title{
      
      margin: 30px auto;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
  }

  .main__item__in{
      transition: 700ms;
      padding-top: 20px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    font-weight: normal;
    text-align: center;
    resize: none;
    overflow: auto;
font-size: 20px;
line-height: 10px;
outline: none;
	-moz-appearance: none;
    color: #3e3f4f;
  }

  
  .main__item__in:hover{
      color: #fff;
    box-shadow: none;
	background: none;
	border: 1px solid #fff;  
	backdrop-filter: none;
  }

  .main__buttons__save{
      margin: 40px auto;
    background: #3670ff;
	border: none;
	border-radius: 30px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	height: 50px;
	width: 200px;
  }

  .main__button{
    width: 100%;
  }

  .main__buttons__save:hover{
      background: none;
    border: 2px solid #3670ff; 
	color: #3670ff;
  }

  .main__back{
      position: absolute;
      left: 4vw;
      top: 2vw;
  }