/*
иконка поиска исправить
анимация на блоки информации
ссылки на футер
крошки?
анимация на филитрацию
*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input {
  display: none;
}

section,
header,
footer {
  z-index: 2;
}
body {
  color: #ffffff;
  margin: 0rem;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background: linear-gradient(-45deg, #f53844, #42378f);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

a,
button {
  display: block;
  color: #ffffff;
}

#particles-js {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
}

#canvas {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.logo {
  text-transform: uppercase;
  padding-left: 66px;
  padding-top: 29px;
  padding-right: 0;
}

.logo img {
  height: 85px;
  padding-right: 10px;
}
.logo-name h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}

.logo-name h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.lang {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  top: 39px;
  text-transform: uppercase;
}

.footer-items {
  z-index: 2;
  align-items: center;
  margin-top: 50px;
  bottom: 50px;
}

.library-menu {
  z-index: 2;
  position: relative;
  margin-left: 9em;
}

.library-item-title {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 400;
}

.library-item-status {
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
}

.library-item a {
  transition:500ms;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	background: #3670ff;
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
  width: 10em;
  position: absolute;
  right: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
	border: none;
  width: 200px;
  border-radius: 30px;
  height: 50px;
}

.library-item a:hover {
  padding-top: 13px;
  background: none;
  text-decoration: none;
  border: 2px solid #3670ff; 
	color: #3670ff;
}

.library-item {
  width: 380px;
  margin: 50px 0;
}

.library-menu svg {
  margin-left: 5em;
  width: 40em;
}

.filter {
  z-index: 2;
  margin-top: 55px;
  margin-left: 50px;
}
.filter-search{
  transition:500ms;
	border: 1px solid white;
	border-radius: 30px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	color: #3e3f4f;
	font-size: 14px;
	height: 30px;
	margin-bottom: 20px;
	outline: none;
	padding: 0 15px 0 30px;
	width: 200px;
}

.filter-search input{
  z-index: 3;
}

.filter-search:hover{
  cursor: pointer;
  box-shadow: none;
	background-color: white;
	border: 1px solid #fff;  
	backdrop-filter: none;
}
.filter-title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.filter-drop {
  text-align: left;
  display: block;
}
.filter-drop-list {
  transition:700ms;
  border-left: 1px solid;
  margin-left: 2em;
  padding-left: 5px;
}
.filter-drop-list li {
  transition:700ms;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  overflow: hidden;
  height: 0;
  display: block;
}
.filter-drop label {
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
}

.filter-drop [type="checkbox"] {
  transition:700ms;
  display: none;
}

.filter-drop [type="checkbox"]:checked ~ ul > li {
  transition:700ms;
  height: auto;
  margin: 15px 0;
}

dropdown {
  display: inline-block;
}

dropdown label,
dropdown ul li {
  padding: 5px 0;
  display: block;
  z-index: 2;
}

dropdown label:hover,
dropdown ul li:hover {
  color: #ffffff;
  cursor: pointer;
}

dropdown label {
  color: #ffffff;
  position: relative;
  z-index: 2;
}

dropdown input {
  display: none;
}

dropdown input ~ ul {
  padding-left: 0px;
  margin-top: 80px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

dropdown input:checked ~ ul {
  transition:700ms;
  visibility: visible;
  opacity: 1;
  top: 0;
}
